.header{
padding-top: 50px;
padding-bottom: 50px;
background-color: #ccc;
text-align: center;
}
.col-footer{
    background-color: #ccc;
    border-left: 3px solid gray;
padding: 20px;
}
div[class *= 'col'] {
    padding: 20px;
}


